
.header{
    width: 96vw;
    height: 6vh;
    background-color: rgb(23, 28, 28);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    color: aliceblue;
    font-size: larger;
    font-weight: 700;
}

.background_tranparent{
    filter: blur(5px);
}